use master
go

create database [munives_tramite2]
go

USE [munives_tramite2]
GO
/****** Object:  Table [dbo].[tb_ubigeo]    Script Date: 03/17/2016 23:34:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tb_ubigeo](
	[codigoubigeo] [char](9) NOT NULL,
	[codpais] [char](3) NULL,
	[coddepartamento] [char](2) NULL,
	[codprovincia] [char](2) NULL,
	[coddistrito] [char](2) NULL,
	[desubigeo] [varchar](150) NULL,
PRIMARY KEY CLUSTERED 
(
	[codigoubigeo] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[tb_ubigeo] ([codigoubigeo], [codpais], [coddepartamento], [codprovincia], [coddistrito], [desubigeo]) VALUES (N'001000000', N'001', N'00', N'00', N'00', N'PERU')
INSERT [dbo].[tb_ubigeo] ([codigoubigeo], [codpais], [coddepartamento], [codprovincia], [coddistrito], [desubigeo]) VALUES (N'001010000', N'001', N'01', N'00', N'00', N'AMAZONAS')
INSERT [dbo].[tb_ubigeo] ([codigoubigeo], [codpais], [coddepartamento], [codprovincia], [coddistrito], [desubigeo]) VALUES (N'001010100', N'001', N'01', N'01', N'00', N'CHACHAPOYAS')
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
GO
print 'Processed 900 total records'
GO
print 'Processed 1000 total records'
GO
print 'Processed 1100 total records'
GO
print 'Processed 1200 total records'
GO
print 'Processed 1300 total records'
GO
print 'Processed 1400 total records'
GO
print 'Processed 1500 total records'
GO
print 'Processed 1600 total records'
GO
print 'Processed 1700 total records'
GO
print 'Processed 1800 total records'
GO
print 'Processed 1900 total records'
GO
print 'Processed 2000 total records'
GO
print 'Processed 2100 total records'
GO
print 'Processed 2200 total records'
/****** Object:  Table [dbo].[tb_tupa]    Script Date: 03/17/2016 23:34:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tb_tupa](
	[cod_tupa] [char](6) NOT NULL,
	[des_tupa] [varchar](400) NULL,
	[anio] [char](4) NULL,
	[estado] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[cod_tupa] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[tb_tupa] ([cod_tupa], [des_tupa], [anio], [estado]) VALUES (N'TUP001', N'TUPA DEL Año 2016', N'2016', 1)
/****** Object:  Table [dbo].[tb_tipo_tramite]    Script Date: 03/17/2016 23:34:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tb_tipo_tramite](
	[cod_tipo_tramite] [char](6) NOT NULL,
	[des_tipo_tramite] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[cod_tipo_tramite] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[tb_tipo_tramite] ([cod_tipo_tramite], [des_tipo_tramite]) VALUES (N'TDT001', N'Expediente')
INSERT [dbo].[tb_tipo_tramite] ([cod_tipo_tramite], [des_tipo_tramite]) VALUES (N'TDT002', N'Documento')
/****** Object:  Table [dbo].[tb_tipo_documento]    Script Date: 03/17/2016 23:34:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tb_tipo_documento](
	[cod_tipo_documento] [char](6) NOT NULL,
	[des_tipo_documento] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[cod_tipo_documento] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[tb_tipo_documento] ([cod_tipo_documento], [des_tipo_documento]) VALUES (N'TDC001', N'DNI')
INSERT [dbo].[tb_tipo_documento] ([cod_tipo_documento], [des_tipo_documento]) VALUES (N'TDC002', N'RUC')
INSERT [dbo].[tb_tipo_documento] ([cod_tipo_documento], [des_tipo_documento]) VALUES (N'TDC003', N'CARNET DE EXTRANJERIA')
/****** Object:  Table [dbo].[tb_tip_usu]    Script Date: 03/17/2016 23:34:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tb_tip_usu](
	[cod_tip_usu] [char](6) NOT NULL,
	[des_tip_usu] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[cod_tip_usu] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[tb_tip_usu] ([cod_tip_usu], [des_tip_usu]) VALUES (N'TUS001', N'EMPLEADO')
INSERT [dbo].[tb_tip_usu] ([cod_tip_usu], [des_tip_usu]) VALUES (N'TUS002', N'ADMINISTRADO')
/****** Object:  Table [dbo].[tb_tip_estado_tramite]    Script Date: 03/17/2016 23:34:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tb_tip_estado_tramite](
	[cod_estado] [char](6) NOT NULL,
	[des_estadotramite] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[cod_estado] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[tb_tip_estado_tramite] ([cod_estado], [des_estadotramite]) VALUES (N'EST001', N'pendiente de activacion--- cuando recien lo creo el de mesa de partes - despues lo toca el analista de tramite-')
INSERT [dbo].[tb_tip_estado_tramite] ([cod_estado], [des_estadotramite]) VALUES (N'EST003', N'activado , una vez que el analista de tramite activo el tramite ... lo puede ver el jefe de area')
INSERT [dbo].[tb_tip_estado_tramite] ([cod_estado], [des_estadotramite]) VALUES (N'EST004', N'pendiente de atención ---- trabajdor de area cuando lo toca el trabajador')
/****** Object:  Table [dbo].[tb_tip_estado_asigna]    Script Date: 03/17/2016 23:34:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tb_tip_estado_asigna](
	[cod_estado_asig] [char](6) NOT NULL,
	[des_estado_asig] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[cod_estado_asig] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[tb_tip_estado_asigna] ([cod_estado_asig], [des_estado_asig]) VALUES (N'ASI001', N'Prueba')
/****** Object:  Table [dbo].[tb_area]    Script Date: 03/17/2016 23:34:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tb_area](
	[cod_area] [char](6) NOT NULL,
	[des_area] [varchar](200) NULL,
	[cod_jefe] [char](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[cod_area] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[tb_area] ([cod_area], [des_area], [cod_jefe]) VALUES (N'ARE001', N'ARCHIVO', N'EMP0000005')
INSERT [dbo].[tb_area] ([cod_area], [des_area], [cod_jefe]) VALUES (N'ARE002', N'REGISTRO CIVIL', N'EMP0000004')
INSERT [dbo].[tb_area] ([cod_area], [des_area], [cod_jefe]) VALUES (N'ARE003', N'SISTEMAS', N'EMP0000006')
/****** Object:  Table [dbo].[tb_cargo]    Script Date: 03/17/2016 23:34:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tb_cargo](
	[cod_cargo] [char](6) NOT NULL,
	[des_cargo] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[cod_cargo] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[tb_cargo] ([cod_cargo], [des_cargo]) VALUES (N'CAR001', N'MESA DE PARTES')
INSERT [dbo].[tb_cargo] ([cod_cargo], [des_cargo]) VALUES (N'CAR002', N'ANALISTA DE TRAMITE')
INSERT [dbo].[tb_cargo] ([cod_cargo], [des_cargo]) VALUES (N'CAR003', N'OPERADOR REGISTRO CIVIL')
/****** Object:  Table [dbo].[tb_estado_archiv_log]    Script Date: 03/17/2016 23:34:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tb_estado_archiv_log](
	[cod_estado_a_l] [char](6) NOT NULL,
	[des_estado_a_l] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[cod_estado_a_l] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tb_modulo]    Script Date: 03/17/2016 23:34:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tb_modulo](
	[cod_modulo] [char](6) NOT NULL,
	[nom_modulo] [varchar](500) NULL,
	[des_modulo] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[cod_modulo] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[tb_modulo] ([cod_modulo], [nom_modulo], [des_modulo]) VALUES (N'MOD001', N'ACTIVAR TRAMITE', N'')
INSERT [dbo].[tb_modulo] ([cod_modulo], [nom_modulo], [des_modulo]) VALUES (N'MOD002', N'DELEGAR CARGA DE TRABAJO EXPEDIENTE', N'')
INSERT [dbo].[tb_modulo] ([cod_modulo], [nom_modulo], [des_modulo]) VALUES (N'MOD003', N'ATENDER EXPEDIENTE', N'')
/****** Object:  Table [dbo].[tb_folio]    Script Date: 03/17/2016 23:34:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tb_folio](
	[cod_folio] [char](10) NOT NULL,
	[des_folio] [varchar](500) NULL,
	[estado] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[cod_folio] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tb_area_cargo]    Script Date: 03/17/2016 23:34:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tb_area_cargo](
	[cod_area_cargo] [int] IDENTITY(1,1) NOT NULL,
	[cod_area] [char](6) NULL,
	[cod_cargo] [char](6) NULL,
	[estado] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[cod_area_cargo] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[tb_area_cargo] ON
INSERT [dbo].[tb_area_cargo] ([cod_area_cargo], [cod_area], [cod_cargo], [estado]) VALUES (1, N'ARE001', N'CAR001', 1)
INSERT [dbo].[tb_area_cargo] ([cod_area_cargo], [cod_area], [cod_cargo], [estado]) VALUES (2, N'ARE001', N'CAR002', 1)
INSERT [dbo].[tb_area_cargo] ([cod_area_cargo], [cod_area], [cod_cargo], [estado]) VALUES (3, N'ARE001', N'CAR005', 1)
SET IDENTITY_INSERT [dbo].[tb_area_cargo] OFF
/****** Object:  Table [dbo].[tb_perfil_ingreso]    Script Date: 03/17/2016 23:34:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tb_perfil_ingreso](
	[cod_perfil_ingreso] [char](10) NOT NULL,
	[des_perfil] [varchar](500) NULL,
	[cod_area] [char](6) NULL,
PRIMARY KEY CLUSTERED 
(
	[cod_perfil_ingreso] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[tb_perfil_ingreso] ([cod_perfil_ingreso], [des_perfil], [cod_area]) VALUES (N'PFI0000001', N'MESA DE PARTES', N'ARE001')
INSERT [dbo].[tb_perfil_ingreso] ([cod_perfil_ingreso], [des_perfil], [cod_area]) VALUES (N'PFI0000002', N'ANALISTA DE TRAMITE', N'ARE001')
INSERT [dbo].[tb_perfil_ingreso] ([cod_perfil_ingreso], [des_perfil], [cod_area]) VALUES (N'PFI0000003', N'JEFE DE TRAMITE', N'ARE001')
/****** Object:  Table [dbo].[tb_empleado]    Script Date: 03/17/2016 23:34:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tb_empleado](
	[cod_empleado] [char](10) NOT NULL,
	[nom_empleado] [varchar](200) NULL,
	[ape_pat] [varchar](200) NULL,
	[ape_mat] [varchar](200) NULL,
	[cod_area] [char](6) NULL,
	[cod_cargo] [char](6) NULL,
	[estado] [int] NULL,
	[cod_jefe] [char](10) NULL,
	[ind_jefedearea] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[cod_empleado] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[tb_empleado] ([cod_empleado], [nom_empleado], [ape_pat], [ape_mat], [cod_area], [cod_cargo], [estado], [cod_jefe], [ind_jefedearea]) VALUES (N'EMP0000001', N'JAIME JOSE', N'AGUILAR', N'CABEZAS', N'ARE001', N'CAR001', 1, N'EMP000005 ', 0)
INSERT [dbo].[tb_empleado] ([cod_empleado], [nom_empleado], [ape_pat], [ape_mat], [cod_area], [cod_cargo], [estado], [cod_jefe], [ind_jefedearea]) VALUES (N'EMP0000002', N'RUBEN', N'CARDENAS', N'BAES', N'ARE001', N'CAR002', 1, N'EMP000005 ', 0)
INSERT [dbo].[tb_empleado] ([cod_empleado], [nom_empleado], [ape_pat], [ape_mat], [cod_area], [cod_cargo], [estado], [cod_jefe], [ind_jefedearea]) VALUES (N'EMP0000003', N'HECTOR', N'CHUMPITAZ', N'DABNER', N'ARE002', N'CAR003', 1, N'EMP000004 ', 0)
/****** Object:  Table [dbo].[tb_tramite]    Script Date: 03/17/2016 23:34:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tb_tramite](
	[cod_tramite] [char](10) NOT NULL,
	[cod_administrado] [char](10) NULL,
	[des_tramite] [varchar](500) NULL,
	[fec_recepcion] [datetime] NULL,
	[observaciones] [varchar](500) NULL,
	[folio] [varchar](20) NULL,
	[asunto] [varchar](500) NULL,
	[cod_exp] [char](10) NULL,
	[ind_flujo_expediente] [int] NULL,
	[cod_flujo_expediente] [char](13) NULL,
	[cod_estado] [char](6) NULL,
	[ind_confir_jefe] [int] NOT NULL,
	[cod_tipo_tramite] [char](6) NULL,
	[recibo] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[cod_tramite] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tb_user]    Script Date: 03/17/2016 23:34:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tb_user](
	[cod_user] [char](6) NOT NULL,
	[des_user] [varchar](500) NULL,
	[nom_user] [varchar](500) NULL,
	[clave_user] [varchar](500) NULL,
	[tip_user] [char](6) NULL,
	[cod_empleado] [char](10) NULL,
	[cod_administrado] [char](10) NULL,
	[estado] [int] NULL,
	[INDICADOR_SUPERUSUARIO] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[cod_user] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[tb_user] ([cod_user], [des_user], [nom_user], [clave_user], [tip_user], [cod_empleado], [cod_administrado], [estado], [INDICADOR_SUPERUSUARIO]) VALUES (N'USU001', N'MESA DE PARTES', N'jaguilar@munives.edu.pe', N'1234', N'TUS001', N'EMP0000001', N'          ', 1, 0)
INSERT [dbo].[tb_user] ([cod_user], [des_user], [nom_user], [clave_user], [tip_user], [cod_empleado], [cod_administrado], [estado], [INDICADOR_SUPERUSUARIO]) VALUES (N'USU002', N'ANALISTA DE TRAMITE', N'rcadenas@munives.edu.pe', N'1234', N'TUS001', N'EMP0000002', N'          ', 1, 0)
INSERT [dbo].[tb_user] ([cod_user], [des_user], [nom_user], [clave_user], [tip_user], [cod_empleado], [cod_administrado], [estado], [INDICADOR_SUPERUSUARIO]) VALUES (N'USU003', N'OPERADOR REGISTRO CIVIL', N'hchumpi@munives.edu.pe', N'1234', N'TUS001', N'EMP0000003', N'          ', 1, 0)
/****** Object:  Table [dbo].[tb_tramite_rechazo]    Script Date: 03/17/2016 23:34:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tb_tramite_rechazo](
	[cod_tramite_rechazo] [int] IDENTITY(1,1) NOT NULL,
	[cod_administrado] [char](10) NULL,
	[cod_tramite] [char](10) NULL,
	[explic_correcciones] [varchar](500) NULL,
	[fec_registro] [datetime] NULL,
	[cod_usuregis] [char](6) NULL,
PRIMARY KEY CLUSTERED 
(
	[cod_tramite_rechazo] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tb_tramite_iteracion]    Script Date: 03/17/2016 23:34:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tb_tramite_iteracion](
	[cod_tramite_adjuntos] [int] IDENTITY(1,1) NOT NULL,
	[cod_documento] [varchar](100) NULL,
	[cod_tramite] [char](10) NULL,
	[cod_usu] [char](6) NULL,
	[des_adj] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[cod_tramite_adjuntos] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[tb_tramite_iteracion] ON
INSERT [dbo].[tb_tramite_iteracion] ([cod_tramite_adjuntos], [cod_documento], [cod_tramite], [cod_usu], [des_adj]) VALUES (1, N'Bc292', N'TRA0000001', N'USU002', N'Adjuntamos')
INSERT [dbo].[tb_tramite_iteracion] ([cod_tramite_adjuntos], [cod_documento], [cod_tramite], [cod_usu], [des_adj]) VALUES (2, N'bc123', N'TRA0000001', N'USU002', N'dewdedwed')
INSERT [dbo].[tb_tramite_iteracion] ([cod_tramite_adjuntos], [cod_documento], [cod_tramite], [cod_usu], [des_adj]) VALUES (3, N'Docu1', N'TRA0000002', N'USU002', N'asdasdasd')
SET IDENTITY_INSERT [dbo].[tb_tramite_iteracion] OFF
/****** Object:  Table [dbo].[tb_tramite_area_asignada]    Script Date: 03/17/2016 23:34:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[tb_tramite_area_asignada](
	[cod_tramite_documento_asigna] [int] IDENTITY(1,1) NOT NULL,
	[cod_tramite] [char](10) NULL,
	[cod_usu_queasigno] [char](6) NULL,
	[cod_area] [char](6) NULL,
	[fec_registro] [datetime] NULL,
	[estado] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[cod_tramite_documento_asigna] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[tb_tramite_area_asignada] ON
INSERT [dbo].[tb_tramite_area_asignada] ([cod_tramite_documento_asigna], [cod_tramite], [cod_usu_queasigno], [cod_area], [fec_registro], [estado]) VALUES (15, N'TRA0000001', N'USU002', N'ARE002', CAST(0x0000A5B601887126 AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[tb_tramite_area_asignada] OFF
/****** Object:  Table [dbo].[tb_tramite_adjuntos]    Script Date: 03/17/2016 23:34:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tb_tramite_adjuntos](
	[cod_tramite_adjuntos] [int] IDENTITY(1,1) NOT NULL,
	[cod_tramite] [char](10) NULL,
	[cod_usu] [char](6) NULL,
	[des_adj] [varchar](500) NULL,
	[nom_docu] [varchar](500) NULL,
	[ruta_doc_adjunta] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[cod_tramite_adjuntos] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[tb_tramite_adjuntos] ON
INSERT [dbo].[tb_tramite_adjuntos] ([cod_tramite_adjuntos], [cod_tramite], [cod_usu], [des_adj], [nom_docu], [ruta_doc_adjunta]) VALUES (1, N'TRA0000001', N'USU001', N'Adjunto 1', N'DOC1', N'C:\Users\JAGUILAR-SHARP\Google Drive\Proyecto Informatico 2\DocumentoDeveloper')
INSERT [dbo].[tb_tramite_adjuntos] ([cod_tramite_adjuntos], [cod_tramite], [cod_usu], [des_adj], [nom_docu], [ruta_doc_adjunta]) VALUES (2, N'TRA0000002', N'USU001', N'Adjunto 2', N'DOC2', N'C:\Users\JAGUILAR-SHARP\Google Drive\Proyecto Informatico 2\DocumentoDeveloper')
INSERT [dbo].[tb_tramite_adjuntos] ([cod_tramite_adjuntos], [cod_tramite], [cod_usu], [des_adj], [nom_docu], [ruta_doc_adjunta]) VALUES (3, N'TRA0000003', N'USU001', N'Adjunto 3', N'DOC3', N'C:\Users\JAGUILAR-SHARP\Google Drive\Proyecto Informatico 2\DocumentoDeveloper')
SET IDENTITY_INSERT [dbo].[tb_tramite_adjuntos] OFF
/****** Object:  Table [dbo].[tb_tip_expediente]    Script Date: 03/17/2016 23:34:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tb_tip_expediente](
	[cod_tip_expediente] [char](10) NOT NULL,
	[cod_tupa] [char](6) NULL,
	[des_exp] [varchar](500) NULL,
	[dias_maximo] [int] NULL,
	[fec_registro] [datetime] NULL,
	[usu_queregistro] [char](6) NULL,
	[estado] [int] NULL,
	[cod_area_encargada] [char](6) NULL,
PRIMARY KEY CLUSTERED 
(
	[cod_tip_expediente] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[tb_tip_expediente] ([cod_tip_expediente], [cod_tupa], [des_exp], [dias_maximo], [fec_registro], [usu_queregistro], [estado], [cod_area_encargada]) VALUES (N'EXP0000001', N'TUP001', N'1.LICENCIA DE FUNCIONAMIENTO-1.3.ESTABLECIMIENTOS CON INSPECCIÓN TÉCNICA DE SEGURIDAD EN EDIFI', 15, CAST(0x0000A5A8010A6859 AS DateTime), N'USU006', 1, N'ARE002')
INSERT [dbo].[tb_tip_expediente] ([cod_tip_expediente], [cod_tupa], [des_exp], [dias_maximo], [fec_registro], [usu_queregistro], [estado], [cod_area_encargada]) VALUES (N'EXP0000002', N'TUP001', N'AUTORIZACIÓN', 9, CAST(0x0000A5A8010A6859 AS DateTime), N'USU006', 1, N'ARE002')
INSERT [dbo].[tb_tip_expediente] ([cod_tip_expediente], [cod_tupa], [des_exp], [dias_maximo], [fec_registro], [usu_queregistro], [estado], [cod_area_encargada]) VALUES (N'EXP0000003', N'TUP001', N'CESE DE ACTIVIDADES DEL ESTABLECIMIENTO', 9, CAST(0x0000A5A8010A6859 AS DateTime), N'USU006', 1, N'ARE002')
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
/****** Object:  Table [dbo].[tb_administrado]    Script Date: 03/17/2016 23:34:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tb_administrado](
	[cod_administrado] [char](10) NOT NULL,
	[nom] [varchar](200) NULL,
	[ape_pat] [varchar](200) NULL,
	[ape_mat] [varchar](200) NULL,
	[cod_tipo_documento] [char](6) NULL,
	[num_documento] [varchar](200) NULL,
	[email] [varchar](200) NULL,
	[telf1_contac] [varchar](200) NULL,
	[telf2_contac] [varchar](200) NULL,
	[direccion] [varchar](500) NULL,
	[fec_ingreso] [datetime] NULL,
	[usu_queregistro] [char](6) NULL,
	[usu_asociado] [char](6) NULL,
	[estado] [int] NULL,
	[fec_actu] [datetime] NULL,
	[codigo_ubigeo] [char](9) NULL,
PRIMARY KEY CLUSTERED 
(
	[cod_administrado] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[tb_administrado] ([cod_administrado], [nom], [ape_pat], [ape_mat], [cod_tipo_documento], [num_documento], [email], [telf1_contac], [telf2_contac], [direccion], [fec_ingreso], [usu_queregistro], [usu_asociado], [estado], [fec_actu], [codigo_ubigeo]) VALUES (N'ADM0000001', N'EDGAR', N'LIGARDA', N'HUAMAN', N'TDC001', N'44953781', N'ronaldo@gmail.com', N'014930587', N'987379413', N'MZ A V.E.S', CAST(0x0000A5A80167CA44 AS DateTime), N'USU001', N'USU007', 1, CAST(0x0000A5A80167CA44 AS DateTime), N'001150142')
INSERT [dbo].[tb_administrado] ([cod_administrado], [nom], [ape_pat], [ape_mat], [cod_tipo_documento], [num_documento], [email], [telf1_contac], [telf2_contac], [direccion], [fec_ingreso], [usu_queregistro], [usu_asociado], [estado], [fec_actu], [codigo_ubigeo]) VALUES (N'ADM0000002', N'HOMERO', N'ROBLES', N'CAKCA', N'TDC001', N'44953782', N'rroblescakca@gmail.com', N'014930587', N'987339413', N'MZ A V.E.S', CAST(0x0000A5A80167CA44 AS DateTime), N'USU001', N'USU008', 1, CAST(0x0000A5A80167CA44 AS DateTime), N'001150142')
INSERT [dbo].[tb_administrado] ([cod_administrado], [nom], [ape_pat], [ape_mat], [cod_tipo_documento], [num_documento], [email], [telf1_contac], [telf2_contac], [direccion], [fec_ingreso], [usu_queregistro], [usu_asociado], [estado], [fec_actu], [codigo_ubigeo]) VALUES (N'ADM0000003', N'JASON', N'RICHARD', N'BLASS', N'TDC001', N'44953783', N'rblass@gmail.com', N'014930587', N'987399413', N'MZ A V.E.S', CAST(0x0000A5A80167CA44 AS DateTime), N'USU001', N'USU009', 1, CAST(0x0000A5A80167CA44 AS DateTime), N'001150142')
/****** Object:  Table [dbo].[tb_asignacion]    Script Date: 03/17/2016 23:34:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tb_asignacion](
	[cod_asignacion] [int] IDENTITY(1,1) NOT NULL,
	[cod_tramite] [char](10) NULL,
	[cod_solicitud] [char](10) NULL,
	[cod_usu_asignador] [char](6) NULL,
	[cod_usu_asignado] [char](6) NULL,
	[des_asignacion] [varchar](200) NULL,
	[fec_registro] [datetime] NULL,
	[cod_estado_asigna] [char](6) NULL,
PRIMARY KEY CLUSTERED 
(
	[cod_asignacion] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[tb_asignacion] ON
INSERT [dbo].[tb_asignacion] ([cod_asignacion], [cod_tramite], [cod_solicitud], [cod_usu_asignador], [cod_usu_asignado], [des_asignacion], [fec_registro], [cod_estado_asigna]) VALUES (1, N'TRA0000001', NULL, N'USU002', N'USU001', N'datos todos', CAST(0x0000A5B20120F415 AS DateTime), N'ASI001')
INSERT [dbo].[tb_asignacion] ([cod_asignacion], [cod_tramite], [cod_solicitud], [cod_usu_asignador], [cod_usu_asignado], [des_asignacion], [fec_registro], [cod_estado_asigna]) VALUES (2, N'TRA0000016', NULL, N'USU004', N'USU003', N'asdasd', CAST(0x0000A5B2013A940C AS DateTime), N'ASI001')
INSERT [dbo].[tb_asignacion] ([cod_asignacion], [cod_tramite], [cod_solicitud], [cod_usu_asignador], [cod_usu_asignado], [des_asignacion], [fec_registro], [cod_estado_asigna]) VALUES (3, N'TRA0000016', NULL, N'USU004', N'USU003', N'asdasd', CAST(0x0000A5B2013C1C89 AS DateTime), N'ASI001')
SET IDENTITY_INSERT [dbo].[tb_asignacion] OFF
/****** Object:  Table [dbo].[tb_flujo_tramite_real]    Script Date: 03/17/2016 23:34:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tb_flujo_tramite_real](
	[cod_flujo_tramite] [int] IDENTITY(1,1) NOT NULL,
	[cod_tramite] [char](10) NULL,
	[fec_registro] [datetime] NULL,
	[cod_usuario] [char](6) NULL,
	[cod_estado] [char](6) NULL,
	[cod_area] [char](6) NULL,
PRIMARY KEY CLUSTERED 
(
	[cod_flujo_tramite] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[tb_flujo_tramite_real] ON
INSERT [dbo].[tb_flujo_tramite_real] ([cod_flujo_tramite], [cod_tramite], [fec_registro], [cod_usuario], [cod_estado], [cod_area]) VALUES (25, N'TRA0000001', CAST(0x0000A5B601887126 AS DateTime), N'USU002', N'EST004', N'ARE001')
SET IDENTITY_INSERT [dbo].[tb_flujo_tramite_real] OFF
/****** Object:  Table [dbo].[tb_log_ingr_salidas]    Script Date: 03/17/2016 23:34:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tb_log_ingr_salidas](
	[cod_trans] [int] IDENTITY(1,1) NOT NULL,
	[cod_folio] [char](10) NULL,
	[cod_usu_solicitante] [char](6) NULL,
	[cod_area_dirig] [char](6) NULL,
	[cod_usu_dirigi] [char](6) NULL,
	[cod_tipo_et] [char](6) NULL,
	[des_folio] [char](500) NULL,
	[cod_documento] [char](10) NULL,
	[fec_actualizacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[cod_trans] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tb_detalle_perfil_modulo]    Script Date: 03/17/2016 23:34:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tb_detalle_perfil_modulo](
	[cod_detalle_perfil_modulo] [int] IDENTITY(1,1) NOT NULL,
	[cod_perfil_ingreso] [char](10) NULL,
	[cod_modulo] [char](6) NULL,
PRIMARY KEY CLUSTERED 
(
	[cod_detalle_perfil_modulo] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[tb_detalle_perfil_modulo] ON
INSERT [dbo].[tb_detalle_perfil_modulo] ([cod_detalle_perfil_modulo], [cod_perfil_ingreso], [cod_modulo]) VALUES (1, N'PFI0000002', N'MOD001')
INSERT [dbo].[tb_detalle_perfil_modulo] ([cod_detalle_perfil_modulo], [cod_perfil_ingreso], [cod_modulo]) VALUES (2, N'PFI0000005', N'MOD002')
INSERT [dbo].[tb_detalle_perfil_modulo] ([cod_detalle_perfil_modulo], [cod_perfil_ingreso], [cod_modulo]) VALUES (3, N'PFI0000004', N'MOD002')
SET IDENTITY_INSERT [dbo].[tb_detalle_perfil_modulo] OFF
/****** Object:  Table [dbo].[tb_solicitud]    Script Date: 03/17/2016 23:34:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tb_solicitud](
	[cod_solicitud] [char](10) NOT NULL,
	[cod_asignacion] [char](10) NULL,
	[cod_solicitante] [char](6) NULL,
	[cod_solicitado] [char](6) NULL,
	[fec_reg] [datetime] NULL,
	[asunto] [varchar](500) NULL,
	[descr_soli] [varchar](500) NULL,
	[cod_area_destino] [char](6) NULL,
	[cod_estado] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[cod_solicitud] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tb_requisitos]    Script Date: 03/17/2016 23:34:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tb_requisitos](
	[cod_requisitos] [char](8) NOT NULL,
	[nom_requisito] [varchar](100) NULL,
	[des_requisitos] [varchar](500) NULL,
	[fec_registro] [datetime] NULL,
	[usu_queregistro] [char](6) NULL,
	[estado] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[cod_requisitos] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[tb_requisitos] ([cod_requisitos], [nom_requisito], [des_requisitos], [fec_registro], [usu_queregistro], [estado]) VALUES (N'RE000001', N'COPIA DE DNI', N'', CAST(0x0000A5A80167CA48 AS DateTime), N'USU006', 1)
INSERT [dbo].[tb_requisitos] ([cod_requisitos], [nom_requisito], [des_requisitos], [fec_registro], [usu_queregistro], [estado]) VALUES (N'RE000002', N'PARTIDA DE NACIMIENTO', N'', CAST(0x0000A5A80167CA48 AS DateTime), N'USU006', 1)
INSERT [dbo].[tb_requisitos] ([cod_requisitos], [nom_requisito], [des_requisitos], [fec_registro], [usu_queregistro], [estado]) VALUES (N'RE000003', N'BOLETAS DE VENTA', N'', CAST(0x0000A5A80167CA48 AS DateTime), N'USU006', 1)
/****** Object:  Table [dbo].[tb_user_perfil]    Script Date: 03/17/2016 23:34:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tb_user_perfil](
	[cod_user_perfil] [int] IDENTITY(1,1) NOT NULL,
	[cod_perfil_ingreso] [char](10) NULL,
	[cod_user] [char](6) NULL,
	[estado] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[cod_user_perfil] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[tb_user_perfil] ON
INSERT [dbo].[tb_user_perfil] ([cod_user_perfil], [cod_perfil_ingreso], [cod_user], [estado]) VALUES (1, N'PFI0000002', N'USU002', 1)
INSERT [dbo].[tb_user_perfil] ([cod_user_perfil], [cod_perfil_ingreso], [cod_user], [estado]) VALUES (2, N'PFI0000005', N'USU004', 1)
INSERT [dbo].[tb_user_perfil] ([cod_user_perfil], [cod_perfil_ingreso], [cod_user], [estado]) VALUES (3, N'PFI0000004', N'USU003', 1)
SET IDENTITY_INSERT [dbo].[tb_user_perfil] OFF
/****** Object:  Table [dbo].[tb_tramite_resp]    Script Date: 03/17/2016 23:34:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tb_tramite_resp](
	[cod_tramite_resp] [int] IDENTITY(1,1) NOT NULL,
	[cod_asignacion] [int] NULL,
	[cod_tramite] [char](10) NULL,
	[asunto] [varchar](500) NULL,
	[observacion] [varchar](500) NULL,
	[ref_documento] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[cod_tramite_resp] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tb_solicitud_resp]    Script Date: 03/17/2016 23:34:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tb_solicitud_resp](
	[cod_solicitud_resp] [int] IDENTITY(1,1) NOT NULL,
	[cod_solicitud] [char](10) NULL,
	[asunto] [varchar](500) NULL,
	[observacion] [varchar](500) NULL,
	[ref_documento] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[cod_solicitud_resp] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tb_solicitud_adj]    Script Date: 03/17/2016 23:34:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tb_solicitud_adj](
	[cod_solicitud_adj] [int] IDENTITY(1,1) NOT NULL,
	[cod_solicitud] [char](10) NULL,
	[nom_archivo] [varchar](500) NULL,
	[ruta_doc_adjunta] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[cod_solicitud_adj] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tb_detalle_adj_requisitos]    Script Date: 03/17/2016 23:34:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tb_detalle_adj_requisitos](
	[cod_detalle_adj_requisitos] [int] IDENTITY(1,1) NOT NULL,
	[cod_requisitos] [char](8) NULL,
	[ruta_img_adjunta] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[cod_detalle_adj_requisitos] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tb_flujo_expediente]    Script Date: 03/17/2016 23:34:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tb_flujo_expediente](
	[cod_flujo_expediente] [char](13) NOT NULL,
	[cod_tip_expediente] [char](10) NULL,
	[fec_registro] [datetime] NULL,
	[cod_user] [char](6) NULL,
	[estado] [int] NULL,
	[num_nivel] [int] NULL,
	[cod_area] [char](6) NULL,
PRIMARY KEY CLUSTERED 
(
	[cod_flujo_expediente] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tb_detalle_requisitos_exp]    Script Date: 03/17/2016 23:34:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tb_detalle_requisitos_exp](
	[cod_detalle_requisitos_exp] [int] IDENTITY(1,1) NOT NULL,
	[cod_tip_expediente] [char](10) NULL,
	[cod_requisitos] [char](8) NULL,
	[estado] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[cod_detalle_requisitos_exp] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[tb_detalle_requisitos_exp] ON
INSERT [dbo].[tb_detalle_requisitos_exp] ([cod_detalle_requisitos_exp], [cod_tip_expediente], [cod_requisitos], [estado]) VALUES (1, N'EXP0000018', N'RE000001', 1)
INSERT [dbo].[tb_detalle_requisitos_exp] ([cod_detalle_requisitos_exp], [cod_tip_expediente], [cod_requisitos], [estado]) VALUES (2, N'EXP0000018', N'RE000002', 1)
INSERT [dbo].[tb_detalle_requisitos_exp] ([cod_detalle_requisitos_exp], [cod_tip_expediente], [cod_requisitos], [estado]) VALUES (3, N'EXP0000018', N'RE000003', 1)
SET IDENTITY_INSERT [dbo].[tb_detalle_requisitos_exp] OFF
/****** Object:  Table [dbo].[tb_t_iteracion_detalle]    Script Date: 03/17/2016 23:34:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tb_t_iteracion_detalle](
	[cod_t_iteracion_detalle] [int] IDENTITY(1,1) NOT NULL,
	[cod_tramite_adjuntos] [int] NULL,
	[nom_archvio] [varchar](500) NULL,
	[ruta_doc_adjunta] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[cod_t_iteracion_detalle] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[tb_t_iteracion_detalle] ON
INSERT [dbo].[tb_t_iteracion_detalle] ([cod_t_iteracion_detalle], [cod_tramite_adjuntos], [nom_archvio], [ruta_doc_adjunta]) VALUES (1, 1, N'69817_1395955071077_2681389_n.jpg', N'FilesUpload/TRA0000001/Bc292/69817_1395955071077_2681389_n.jpg')
INSERT [dbo].[tb_t_iteracion_detalle] ([cod_t_iteracion_detalle], [cod_tramite_adjuntos], [nom_archvio], [ruta_doc_adjunta]) VALUES (2, 2, N'69817_1395955071077_2681389_n.jpg', N'FilesUpload/TRA0000001/bc123/69817_1395955071077_2681389_n.jpg')
INSERT [dbo].[tb_t_iteracion_detalle] ([cod_t_iteracion_detalle], [cod_tramite_adjuntos], [nom_archvio], [ruta_doc_adjunta]) VALUES (3, 3, N'prueba01.jpg', N'FilesUpload/TRA0000002/Docu1/prueba01.jpg')
SET IDENTITY_INSERT [dbo].[tb_t_iteracion_detalle] OFF
/****** Object:  Table [dbo].[tb_tramite_resp_adj]    Script Date: 03/17/2016 23:34:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tb_tramite_resp_adj](
	[cod_tramite_resp_adj] [int] IDENTITY(1,1) NOT NULL,
	[cod_tramite_resp] [int] NULL,
	[nom_archivo] [varchar](500) NULL,
	[ruta_doc_adjunta] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[cod_tramite_resp_adj] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tb_solicitud_resp_adj]    Script Date: 03/17/2016 23:34:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tb_solicitud_resp_adj](
	[cod_solicitud_resp_adj] [int] IDENTITY(1,1) NOT NULL,
	[cod_solicitud_resp] [int] NULL,
	[nom_archivo] [varchar](500) NULL,
	[ruta_doc_adjunta] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[cod_solicitud_resp_adj] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Default [DF_tb_tramite_ind_confir_jefe]    Script Date: 03/17/2016 23:34:39 ******/
ALTER TABLE [dbo].[tb_tramite] ADD  CONSTRAINT [DF_tb_tramite_ind_confir_jefe]  DEFAULT ((0)) FOR [ind_confir_jefe]
GO
/****** Object:  ForeignKey [FK__tb_admini__cod_t__0F624AF8]    Script Date: 03/17/2016 23:34:39 ******/
ALTER TABLE [dbo].[tb_administrado]  WITH CHECK ADD FOREIGN KEY([cod_tipo_documento])
REFERENCES [dbo].[tb_tipo_documento] ([cod_tipo_documento])
GO
/****** Object:  ForeignKey [FK__tb_admini__codig__4F47C5E3]    Script Date: 03/17/2016 23:34:39 ******/
ALTER TABLE [dbo].[tb_administrado]  WITH CHECK ADD FOREIGN KEY([codigo_ubigeo])
REFERENCES [dbo].[tb_ubigeo] ([codigoubigeo])
GO
/****** Object:  ForeignKey [FK__tb_admini__usu_q__10566F31]    Script Date: 03/17/2016 23:34:39 ******/
ALTER TABLE [dbo].[tb_administrado]  WITH CHECK ADD FOREIGN KEY([usu_queregistro])
REFERENCES [dbo].[tb_user] ([cod_user])
GO
/****** Object:  ForeignKey [FK__tb_area_c__cod_a__114A936A]    Script Date: 03/17/2016 23:34:39 ******/
ALTER TABLE [dbo].[tb_area_cargo]  WITH CHECK ADD FOREIGN KEY([cod_area])
REFERENCES [dbo].[tb_area] ([cod_area])
GO
/****** Object:  ForeignKey [FK__tb_area_c__cod_c__123EB7A3]    Script Date: 03/17/2016 23:34:39 ******/
ALTER TABLE [dbo].[tb_area_cargo]  WITH CHECK ADD FOREIGN KEY([cod_cargo])
REFERENCES [dbo].[tb_cargo] ([cod_cargo])
GO
/****** Object:  ForeignKey [FK__tb_asigna__cod_e__1332DBDC]    Script Date: 03/17/2016 23:34:39 ******/
ALTER TABLE [dbo].[tb_asignacion]  WITH CHECK ADD FOREIGN KEY([cod_estado_asigna])
REFERENCES [dbo].[tb_tip_estado_asigna] ([cod_estado_asig])
GO
/****** Object:  ForeignKey [FK__tb_asigna__cod_u__14270015]    Script Date: 03/17/2016 23:34:39 ******/
ALTER TABLE [dbo].[tb_asignacion]  WITH CHECK ADD FOREIGN KEY([cod_usu_asignador])
REFERENCES [dbo].[tb_user] ([cod_user])
GO
/****** Object:  ForeignKey [FK__tb_asigna__cod_u__151B244E]    Script Date: 03/17/2016 23:34:39 ******/
ALTER TABLE [dbo].[tb_asignacion]  WITH CHECK ADD FOREIGN KEY([cod_usu_asignado])
REFERENCES [dbo].[tb_user] ([cod_user])
GO
/****** Object:  ForeignKey [FK__tb_detall__cod_r__160F4887]    Script Date: 03/17/2016 23:34:39 ******/
ALTER TABLE [dbo].[tb_detalle_adj_requisitos]  WITH CHECK ADD FOREIGN KEY([cod_requisitos])
REFERENCES [dbo].[tb_requisitos] ([cod_requisitos])
GO
/****** Object:  ForeignKey [FK__tb_detall__cod_m__17036CC0]    Script Date: 03/17/2016 23:34:39 ******/
ALTER TABLE [dbo].[tb_detalle_perfil_modulo]  WITH CHECK ADD FOREIGN KEY([cod_modulo])
REFERENCES [dbo].[tb_modulo] ([cod_modulo])
GO
/****** Object:  ForeignKey [FK__tb_detall__cod_p__17F790F9]    Script Date: 03/17/2016 23:34:39 ******/
ALTER TABLE [dbo].[tb_detalle_perfil_modulo]  WITH CHECK ADD FOREIGN KEY([cod_perfil_ingreso])
REFERENCES [dbo].[tb_perfil_ingreso] ([cod_perfil_ingreso])
GO
/****** Object:  ForeignKey [FK__tb_detall__cod_r__18EBB532]    Script Date: 03/17/2016 23:34:39 ******/
ALTER TABLE [dbo].[tb_detalle_requisitos_exp]  WITH CHECK ADD FOREIGN KEY([cod_requisitos])
REFERENCES [dbo].[tb_requisitos] ([cod_requisitos])
GO
/****** Object:  ForeignKey [FK__tb_detall__cod_t__19DFD96B]    Script Date: 03/17/2016 23:34:39 ******/
ALTER TABLE [dbo].[tb_detalle_requisitos_exp]  WITH CHECK ADD FOREIGN KEY([cod_tip_expediente])
REFERENCES [dbo].[tb_tip_expediente] ([cod_tip_expediente])
GO
/****** Object:  ForeignKey [FK__tb_emplea__cod_a__1AD3FDA4]    Script Date: 03/17/2016 23:34:39 ******/
ALTER TABLE [dbo].[tb_empleado]  WITH CHECK ADD FOREIGN KEY([cod_area])
REFERENCES [dbo].[tb_area] ([cod_area])
GO
/****** Object:  ForeignKey [FK__tb_emplea__cod_c__1BC821DD]    Script Date: 03/17/2016 23:34:39 ******/
ALTER TABLE [dbo].[tb_empleado]  WITH CHECK ADD FOREIGN KEY([cod_cargo])
REFERENCES [dbo].[tb_cargo] ([cod_cargo])
GO
/****** Object:  ForeignKey [FK__tb_flujo___cod_a__1CBC4616]    Script Date: 03/17/2016 23:34:39 ******/
ALTER TABLE [dbo].[tb_flujo_expediente]  WITH CHECK ADD FOREIGN KEY([cod_area])
REFERENCES [dbo].[tb_area] ([cod_area])
GO
/****** Object:  ForeignKey [FK__tb_flujo___cod_t__1DB06A4F]    Script Date: 03/17/2016 23:34:39 ******/
ALTER TABLE [dbo].[tb_flujo_expediente]  WITH CHECK ADD FOREIGN KEY([cod_tip_expediente])
REFERENCES [dbo].[tb_tip_expediente] ([cod_tip_expediente])
GO
/****** Object:  ForeignKey [FK__tb_flujo___cod_u__1EA48E88]    Script Date: 03/17/2016 23:34:39 ******/
ALTER TABLE [dbo].[tb_flujo_expediente]  WITH CHECK ADD FOREIGN KEY([cod_user])
REFERENCES [dbo].[tb_user] ([cod_user])
GO
/****** Object:  ForeignKey [FK__tb_flujo___cod_a__1F98B2C1]    Script Date: 03/17/2016 23:34:39 ******/
ALTER TABLE [dbo].[tb_flujo_tramite_real]  WITH CHECK ADD FOREIGN KEY([cod_area])
REFERENCES [dbo].[tb_area] ([cod_area])
GO
/****** Object:  ForeignKey [FK__tb_flujo___cod_e__208CD6FA]    Script Date: 03/17/2016 23:34:39 ******/
ALTER TABLE [dbo].[tb_flujo_tramite_real]  WITH CHECK ADD FOREIGN KEY([cod_estado])
REFERENCES [dbo].[tb_tip_estado_tramite] ([cod_estado])
GO
/****** Object:  ForeignKey [FK__tb_flujo___cod_t__2180FB33]    Script Date: 03/17/2016 23:34:39 ******/
ALTER TABLE [dbo].[tb_flujo_tramite_real]  WITH CHECK ADD FOREIGN KEY([cod_tramite])
REFERENCES [dbo].[tb_tramite] ([cod_tramite])
GO
/****** Object:  ForeignKey [FK__tb_flujo___cod_u__22751F6C]    Script Date: 03/17/2016 23:34:39 ******/
ALTER TABLE [dbo].[tb_flujo_tramite_real]  WITH CHECK ADD FOREIGN KEY([cod_usuario])
REFERENCES [dbo].[tb_user] ([cod_user])
GO
/****** Object:  ForeignKey [FK__tb_log_in__cod_a__236943A5]    Script Date: 03/17/2016 23:34:39 ******/
ALTER TABLE [dbo].[tb_log_ingr_salidas]  WITH CHECK ADD FOREIGN KEY([cod_area_dirig])
REFERENCES [dbo].[tb_area] ([cod_area])
GO
/****** Object:  ForeignKey [FK__tb_log_in__cod_f__245D67DE]    Script Date: 03/17/2016 23:34:39 ******/
ALTER TABLE [dbo].[tb_log_ingr_salidas]  WITH CHECK ADD FOREIGN KEY([cod_folio])
REFERENCES [dbo].[tb_folio] ([cod_folio])
GO
/****** Object:  ForeignKey [FK__tb_log_in__cod_t__25518C17]    Script Date: 03/17/2016 23:34:39 ******/
ALTER TABLE [dbo].[tb_log_ingr_salidas]  WITH CHECK ADD FOREIGN KEY([cod_tipo_et])
REFERENCES [dbo].[tb_estado_archiv_log] ([cod_estado_a_l])
GO
/****** Object:  ForeignKey [FK__tb_log_in__cod_u__2645B050]    Script Date: 03/17/2016 23:34:39 ******/
ALTER TABLE [dbo].[tb_log_ingr_salidas]  WITH CHECK ADD FOREIGN KEY([cod_usu_solicitante])
REFERENCES [dbo].[tb_user] ([cod_user])
GO
/****** Object:  ForeignKey [FK__tb_log_in__cod_u__2739D489]    Script Date: 03/17/2016 23:34:39 ******/
ALTER TABLE [dbo].[tb_log_ingr_salidas]  WITH CHECK ADD FOREIGN KEY([cod_usu_dirigi])
REFERENCES [dbo].[tb_user] ([cod_user])
GO
/****** Object:  ForeignKey [FK__tb_perfil__cod_a__282DF8C2]    Script Date: 03/17/2016 23:34:39 ******/
ALTER TABLE [dbo].[tb_perfil_ingreso]  WITH CHECK ADD FOREIGN KEY([cod_area])
REFERENCES [dbo].[tb_area] ([cod_area])
GO
/****** Object:  ForeignKey [FK__tb_requis__usu_q__29221CFB]    Script Date: 03/17/2016 23:34:39 ******/
ALTER TABLE [dbo].[tb_requisitos]  WITH CHECK ADD FOREIGN KEY([usu_queregistro])
REFERENCES [dbo].[tb_user] ([cod_user])
GO
/****** Object:  ForeignKey [FK__tb_solici__cod_a__2A164134]    Script Date: 03/17/2016 23:34:39 ******/
ALTER TABLE [dbo].[tb_solicitud]  WITH CHECK ADD FOREIGN KEY([cod_area_destino])
REFERENCES [dbo].[tb_area] ([cod_area])
GO
/****** Object:  ForeignKey [FK__tb_solici__cod_s__2B0A656D]    Script Date: 03/17/2016 23:34:39 ******/
ALTER TABLE [dbo].[tb_solicitud]  WITH CHECK ADD FOREIGN KEY([cod_solicitante])
REFERENCES [dbo].[tb_user] ([cod_user])
GO
/****** Object:  ForeignKey [FK__tb_solici__cod_s__2BFE89A6]    Script Date: 03/17/2016 23:34:39 ******/
ALTER TABLE [dbo].[tb_solicitud]  WITH CHECK ADD FOREIGN KEY([cod_solicitado])
REFERENCES [dbo].[tb_user] ([cod_user])
GO
/****** Object:  ForeignKey [FK__tb_solici__cod_s__2CF2ADDF]    Script Date: 03/17/2016 23:34:39 ******/
ALTER TABLE [dbo].[tb_solicitud_adj]  WITH CHECK ADD FOREIGN KEY([cod_solicitud])
REFERENCES [dbo].[tb_solicitud] ([cod_solicitud])
GO
/****** Object:  ForeignKey [FK__tb_solici__cod_s__2DE6D218]    Script Date: 03/17/2016 23:34:39 ******/
ALTER TABLE [dbo].[tb_solicitud_resp]  WITH CHECK ADD FOREIGN KEY([cod_solicitud])
REFERENCES [dbo].[tb_solicitud] ([cod_solicitud])
GO
/****** Object:  ForeignKey [FK__tb_solici__cod_s__2EDAF651]    Script Date: 03/17/2016 23:34:39 ******/
ALTER TABLE [dbo].[tb_solicitud_resp_adj]  WITH CHECK ADD FOREIGN KEY([cod_solicitud_resp])
REFERENCES [dbo].[tb_solicitud_resp] ([cod_solicitud_resp])
GO
/****** Object:  ForeignKey [FK__tb_t_iter__cod_t__2FCF1A8A]    Script Date: 03/17/2016 23:34:39 ******/
ALTER TABLE [dbo].[tb_t_iteracion_detalle]  WITH CHECK ADD FOREIGN KEY([cod_tramite_adjuntos])
REFERENCES [dbo].[tb_tramite_iteracion] ([cod_tramite_adjuntos])
GO
/****** Object:  ForeignKey [FK__tb_tip_ex__cod_a__30C33EC3]    Script Date: 03/17/2016 23:34:39 ******/
ALTER TABLE [dbo].[tb_tip_expediente]  WITH CHECK ADD FOREIGN KEY([cod_area_encargada])
REFERENCES [dbo].[tb_area] ([cod_area])
GO
/****** Object:  ForeignKey [FK__tb_tip_ex__cod_t__31B762FC]    Script Date: 03/17/2016 23:34:39 ******/
ALTER TABLE [dbo].[tb_tip_expediente]  WITH CHECK ADD FOREIGN KEY([cod_tupa])
REFERENCES [dbo].[tb_tupa] ([cod_tupa])
GO
/****** Object:  ForeignKey [FK__tb_tip_ex__usu_q__32AB8735]    Script Date: 03/17/2016 23:34:39 ******/
ALTER TABLE [dbo].[tb_tip_expediente]  WITH CHECK ADD FOREIGN KEY([usu_queregistro])
REFERENCES [dbo].[tb_user] ([cod_user])
GO
/****** Object:  ForeignKey [FK__tb_tramit__cod_e__3493CFA7]    Script Date: 03/17/2016 23:34:39 ******/
ALTER TABLE [dbo].[tb_tramite]  WITH CHECK ADD FOREIGN KEY([cod_estado])
REFERENCES [dbo].[tb_tip_estado_tramite] ([cod_estado])
GO
/****** Object:  ForeignKey [FK__tb_tramit__cod_t__3587F3E0]    Script Date: 03/17/2016 23:34:39 ******/
ALTER TABLE [dbo].[tb_tramite_adjuntos]  WITH CHECK ADD FOREIGN KEY([cod_tramite])
REFERENCES [dbo].[tb_tramite] ([cod_tramite])
GO
/****** Object:  ForeignKey [FK__tb_tramit__cod_u__367C1819]    Script Date: 03/17/2016 23:34:39 ******/
ALTER TABLE [dbo].[tb_tramite_adjuntos]  WITH CHECK ADD FOREIGN KEY([cod_usu])
REFERENCES [dbo].[tb_user] ([cod_user])
GO
/****** Object:  ForeignKey [FK__tb_tramit__cod_a__37703C52]    Script Date: 03/17/2016 23:34:39 ******/
ALTER TABLE [dbo].[tb_tramite_area_asignada]  WITH CHECK ADD FOREIGN KEY([cod_area])
REFERENCES [dbo].[tb_area] ([cod_area])
GO
/****** Object:  ForeignKey [FK__tb_tramit__cod_t__3864608B]    Script Date: 03/17/2016 23:34:39 ******/
ALTER TABLE [dbo].[tb_tramite_area_asignada]  WITH CHECK ADD FOREIGN KEY([cod_tramite])
REFERENCES [dbo].[tb_tramite] ([cod_tramite])
GO
/****** Object:  ForeignKey [FK__tb_tramit__cod_u__395884C4]    Script Date: 03/17/2016 23:34:39 ******/
ALTER TABLE [dbo].[tb_tramite_area_asignada]  WITH CHECK ADD FOREIGN KEY([cod_usu_queasigno])
REFERENCES [dbo].[tb_user] ([cod_user])
GO
/****** Object:  ForeignKey [FK__tb_tramit__cod_t__3A4CA8FD]    Script Date: 03/17/2016 23:34:39 ******/
ALTER TABLE [dbo].[tb_tramite_iteracion]  WITH CHECK ADD FOREIGN KEY([cod_tramite])
REFERENCES [dbo].[tb_tramite] ([cod_tramite])
GO
/****** Object:  ForeignKey [FK__tb_tramit__cod_u__3B40CD36]    Script Date: 03/17/2016 23:34:39 ******/
ALTER TABLE [dbo].[tb_tramite_iteracion]  WITH CHECK ADD FOREIGN KEY([cod_usu])
REFERENCES [dbo].[tb_user] ([cod_user])
GO
/****** Object:  ForeignKey [FK__tb_tramit__cod_t__3D2915A8]    Script Date: 03/17/2016 23:34:40 ******/
ALTER TABLE [dbo].[tb_tramite_rechazo]  WITH CHECK ADD FOREIGN KEY([cod_tramite])
REFERENCES [dbo].[tb_tramite] ([cod_tramite])
GO
/****** Object:  ForeignKey [FK__tb_tramit__cod_a__3E1D39E1]    Script Date: 03/17/2016 23:34:40 ******/
ALTER TABLE [dbo].[tb_tramite_resp]  WITH CHECK ADD FOREIGN KEY([cod_asignacion])
REFERENCES [dbo].[tb_asignacion] ([cod_asignacion])
GO
/****** Object:  ForeignKey [FK__tb_tramit__cod_t__3F115E1A]    Script Date: 03/17/2016 23:34:40 ******/
ALTER TABLE [dbo].[tb_tramite_resp]  WITH CHECK ADD FOREIGN KEY([cod_tramite])
REFERENCES [dbo].[tb_tramite] ([cod_tramite])
GO
/****** Object:  ForeignKey [FK__tb_tramit__cod_t__40058253]    Script Date: 03/17/2016 23:34:40 ******/
ALTER TABLE [dbo].[tb_tramite_resp_adj]  WITH CHECK ADD FOREIGN KEY([cod_tramite_resp])
REFERENCES [dbo].[tb_tramite_resp] ([cod_tramite_resp])
GO
/****** Object:  ForeignKey [FK__tb_user__tip_use__40F9A68C]    Script Date: 03/17/2016 23:34:40 ******/
ALTER TABLE [dbo].[tb_user]  WITH CHECK ADD FOREIGN KEY([tip_user])
REFERENCES [dbo].[tb_tip_usu] ([cod_tip_usu])
GO
/****** Object:  ForeignKey [FK__tb_user_p__cod_p__41EDCAC5]    Script Date: 03/17/2016 23:34:40 ******/
ALTER TABLE [dbo].[tb_user_perfil]  WITH CHECK ADD FOREIGN KEY([cod_perfil_ingreso])
REFERENCES [dbo].[tb_perfil_ingreso] ([cod_perfil_ingreso])
GO
/****** Object:  ForeignKey [FK__tb_user_p__cod_u__42E1EEFE]    Script Date: 03/17/2016 23:34:40 ******/
ALTER TABLE [dbo].[tb_user_perfil]  WITH CHECK ADD FOREIGN KEY([cod_user])
REFERENCES [dbo].[tb_user] ([cod_user])
GO
